10 lines (8 sloc)  277 Bytes

SECRET_KEY = abc
DEBUG = 1
DJANGO_ALLOWED_HOST=127.0.0.1

AWS_ACCESS_KEY_ID=dssd
AWS_SECRET_ACCESS_KEY=sdsd
AWS_STORAGE_BUCKET_NAME=trydjango3

OCR_API_TOKEN_HEADER=xeqjvlEmYemmifI8nGE3lPV1wcDEsXw1iuQcAQMHQL0
OCR_API_ENDPOINT=https://ocr-microservice-8yizk.ondigitalocean.app/